body {
  background-color: #000000;
  text-align: center;
  padding-top: 15vh;
  font-family: Helvetica;
  letter-spacing: 2px;
}

a, a:visited { color: black; text-decoration: none; }
a:hover { cursor: help; text-decoration: underline; }

.highlight, #tbd {
    background: #FFFFFF;
    padding: 3px 7px;
    margin: -3px -5px;
    line-height: 2;
    border-radius: 3px;
    display:inline-block;
    width: calc(4.5vw + 27.5px);
    height: calc(100 - (5vw)vw + 1.5vh + 15px);
}

#tbd { background: #808080; }

.pan {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 2vw;
  -webkit-text-fill-color: #FFFFFF00;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00000080;
}

#pan_c { right: 0; }
#yr { left: 0; }


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.flex-items {
    width: 20vw;
    height: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}
