body {
  background-color: #000000;
  text-align: center;
  font-family: Helvetica;
  padding-top: 15vh;
  letter-spacing: 0.15vw;
}

a, a:visited { color: black; text-decoration: none; }
a:hover { cursor: default; text-decoration: underline; }

.highlight, .tbd, .list {
    display: inline-block;
    background: #FFFFFF;
    padding: 3px 7px;
    margin: -3px -5px;
    line-height: 2;
    border-radius: 3px;
    width: calc(4.5vw + 27.5px);
}

.temp {
    display: inline-block;
    background: #808080;
    padding: 3px 7px;
    margin: -3px -5px;
    line-height: 2;
    border-radius: 3px;
    width: calc(4.5vw + 27.5px);
}

.list { display: none; }
.tbd { display: none; background: #808080; }

.pan {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 2vw;
  font-size: calc(2vw + 1.25vh + 5px);
  -webkit-text-fill-color: #FFFFFF00;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #00000080;
}

#pan_c { right: 0; }
#yr { left: 0; }

#b {
  position: fixed;
  left: 48.5%;
  padding-bottom: calc(30px + 1vw + 5vh);
  text-align: center;
  font-size: calc(1.25vw + 1.25vh + 20px);
  bottom: 0;
  margin: 0;
  -webkit-text-fill-color: #FFFFFF;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #00000080;
}

#b:hover { text-decoration: underline; text-decoration-color: #FFFFFF; }

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.flex-items {
    width: 20vw;
    height: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}

@media only screen and (max-width: 812px) {
  body { padding-top: calc(5vh + 2vw); }
   #b { left: 47.5%; padding-bottom: calc(20px + 1vw + 4vh); }
}
