@font-face {
	font-family: "FFF";
	src: url("FFFFORWA.TTF");
}

body {
  font-family: FFF;
  font-weight: bold;
  background: gray;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#top { fill: #473936; }
#belowgrate { fill: #2c2321; }
#backgrate { fill: #3a2e2c; }
#grate, #front { fill: #574642; }
#fronter { fill: #010101D9; }
#screen { fill: #330000D9; stroke: gray; stroke-width: 0.25 }
#wood { stroke: black; }
#s { display: block; margin: auto; z-index: -1; }

#hrs, #mins {
  z-index: 1;
  color: #201E1E;
  font-size: 80px;
  position: absolute;
  top: 367px;
  display: block;
  margin: auto;
  -webkit-text-stroke: 0.2px #FFC0CB;
  opacity: 0.8;
}

#plus, #minus {
  z-index: 0;
  position: absolute;
  display: block;
  margin: auto;
  height: 50px;
  opacity: 0.1;
	cursor: grab;
}

#plus { top: 350px; }
#minus { top: 420px; }

.info {
  font-family: Helvetica;
  position: fixed;
  right: 0;
  top: 0;
  color: #FFC0CB;
  margin: 1.5vw;
  font-size: calc(2vw + 1.5vh + 35px);
	cursor: grab;
}

.info:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #3CB371;
}

.Modal {
   font-family: Helvetica;
   display: none;
   position: fixed;
   z-index: 0;
   padding-top: calc(52.5px + 4vh);
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: #000000;
}
.modal-content {
   background-color: #3CB371;
   margin: auto;
   padding: calc(10px + 1vw);
   width: 70%;
   overflow: auto;
   max-height: calc(100vh - 210px);
   overflow-y: auto;
   border: 1.5px solid #FFC0CB;
}

.close {
   color: #FFC0CB;
   float: right;
   font-size: calc(37.5px + 0.75vw + 0.75vh);
   font-weight: bold;
}
.close:hover { color: #FFFFFF; }

.abt { font-size: calc(37.5px + 0.75vw + 0.75vh); }
.cr { font-size: calc(15px + 0.75vw + 0.75vh); }

.link:hover { color: #FFC0CB; }

a, a:visited { text-decoration: none; color: black; }

@media only screen and (max-width: 1200px) {
  #hrs { left: 341px; }
  #mins { left: 762px; }
  #plus, #minus { left: 935px; }
}

@media only screen and (min-width: 1200px) and (max-width: 1250px) {
  #hrs { left: 28vw; }
  #mins { left: 63.5vw; }
  #plus, #minus { left: 77vw; } }

@media only screen and (min-width: 1250px) and (max-width: 1300px) {
  #hrs { left: 29vw; }
  #mins { left: 62.75vw; }
  #plus, #minus { left: 76vw; } }

@media only screen and (min-width: 1300px) and (max-width: 1350px) {
  #hrs { left: 30vw; }
  #mins { left: 62vw; }
  #plus, #minus { left: 75vw; } }

@media only screen and (min-width: 1350px) and (max-width: 1400px) {
  #hrs { left: 31vw; }
  #mins { left: 61.25vw; }
  #plus, #minus { left: 74vw; } }

@media only screen and (min-width: 1400px) and (max-width: 1450px) {
  #hrs { left: 32vw; }
  #mins { left: 60.5vw; }
  #plus, #minus { left: 73vw; } }

@media only screen and (min-width: 1450px) and (max-width: 1500px) {
  #hrs { left: 33vw; }
  #mins { left: 59.75vw; }
  #plus, #minus { left: 72vw; } }

@media only screen and (min-width: 1500px) {
  #hrs { left: 34vw; }
  #mins { left: 59vw; }
  #plus, #minus { left: 71vw; } }
